<main class="flex-shrink-0" >
  <div class="container" style="height:100vh">
    <h1 class="mt-5">Sticky footer with fixed navbar</h1>
    <h1>Search for your new home today</h1>
    <p>Find me in app/views/public/main.html.erb</p>
  </div>
</main>


